<div class="row gallery" >
	
  <!-- To see what this, and the dropdown menu links are linking to, check js/data.js. You'll have to retitle the data to be respective to the images here. -->
  {% assign sorted = (site.projects | sort: 'date') | reverse %}
  {% for item in sorted %}
    <div class="col-12 col-md-4 mb-2 pr-2 text-center ">
      <a href="{{ site.baseurl }}{{ item.url }}"><img id="hPic4" data-tilt class="img-fluid tilt" src="{{ site.baseurl }}/assets/covers/{{ item.coverimg }}"></a>
    </div>
  {% endfor %}

</div>
