<head>

  <title>{{ site.title }}{% if page.title %} • {{ page.title | escape }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  {% include meta.html %}

</head>
