<!-- Page two -->
<div id="pageBG" class="row page-container logo-watch">
  <!--<div id="mainPage"></div>-->


  <a href="#P1"></a>
  <div id="project-info" class="Two page logo-watch">

    <!-- Although this is ID'd 'P1', this is actually the second page. Only refer to '.Two', '.Three' and so on for CSS purposes and #P1, #P2 and so on for data purposes-->

    <div class="row crumb nounderline text-lowercase">
      <!-- <a href="#" id="prevPro" class="font-weight-bold">back <</a>--><span class="">yri / projects / </span> <span class="pl-2" id="P1TitleC">{{ page.title }}</span>
      <!--<a href="#" id="nextPro" class="pl-2 font-weight-bold"> > next</a>-->
    </div>
    <div class="row">
      <div id="" class="display-4 text-uppercase yrid">
        <span id="P1Title">{{ page.title }}</span>
      </div>
    </div>
    <div class="row">
      <div id="P1Accordian" data-children=".item">
        <div class="item crumb">
          <div id="P1Shots" class="collapse show d-inline d-lg-inline" role="tabpanel">
            <div class="mb-3 mt-3">
              <div style="overflow-y: hidden; overflow-x: scroll;" class="d-flex justify-content-center">
              
                {% for image in site.static_files %}
                  {% assign imgpath = 'img/' | append: page.imgfolder %}
                  {% if image.path contains imgpath %}
                    <div class="mr-3">
                      <img id="P1Shot1" height="100%" width="100%" data-tilt class="tilt" src="{{ site.baseurl }}{{ image.path }}">
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-6">
        {{ content }}
      </div>
      <div class="col-12 col-md-6 text-right mt-0 pt-3 pt-md-5 lead">
        <div class="crumb">
          credits<br> -
          <br>
        </div>
        <!-- Refers to p(x)Credis in js/data.js -->
        <ul id="credits" style="overflow-y: scroll; overflow-x: hidden; max-width: 180px; height: 160px;" class="col-4 float-right">
          {% for person in page.credits %}
          <li id="P1Credit1">{{ person }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="h1 nounderline">
        <a id="P1Link" class="" href="{{ page.projecturl }}">Visit<span id="" class="pl-2">{{ page.title }}</span></a>
      </div>

    </div>
  </div>



</div>
