<div class="row page-container logo-watch bg-light ">

  <!-- Page one -->
  <div id="Home" class="One logo-watch">
    <!-- logo-watch gives the top content some space for the logo and menu to sit. -->
    <div class="row crumb text-lowercase">
      yri / home
    </div>
    <div class="row d-flex">
      <div class="col-12 col-md-3">
        <div class="col-4">
          <div class="display-4 yrid">
            YOUTH RADIO <span style="color: #65BCBF">INTERACTIVE</span>
          </div>
        </div>

        <div class="lead">
          <p>Where young people combine programming and journalism to develop new tools, and tell dynamic stories about issues facing their environment and their community.</p>
        </div>
      </div>
      <div class="col-12 col-md-9 ">
        {% include gallery-front.html %}
      </div>
    </div>
    <div class="row d-flex align-self-end">
    {% include disclaimer.html %}
  </div>
  </div>
</div>
